workflow/CareerPulse-AI.json
{
  "name": "CareerPulse-AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,14,20 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -80
      ],
      "id": "d747d3ed-ecfe-481d-90d3-69bd6d2d4409",
      "name": "Schedule Trigger",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const jobs = ($json.results || []);\nconst images = $input.first().json.images ||\n\"https://avatars.githubusercontent.com/u/218030750?s=96&v=4?auto=format&fit=crop&w=800&q=80\";\n\nconst randomImage = images[Math.floor(Math.random() * images.length)];\n\nlet text = \"🔥 CareerPulse AI — Jobs\\n\\n\";\ntext += \"━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n\";\n\n\nlet count = 1;\nlet driveCount = 0;\n\njobs.forEach((job) => {\n  if (count > 5) return;\n\n  let title = job.title || \"Opportunity\";\n\n  if (title.toLowerCase().includes(\"software\")) {\n    title = \"Software Developer\";\n  } else if (title.toLowerCase().includes(\"java\")) {\n    title = \"Java Developer\";\n  } else if (title.toLowerCase().includes(\"data\")) {\n    title = \"Data Analyst\";\n  } else if (title.toLowerCase().includes(\"frontend\")) {\n    title = \"Frontend Developer\";\n  } else if (title.toLowerCase().includes(\"backend\")) {\n    title = \"Backend Developer\";\n  } else if (title.toLowerCase().includes(\"ai\")) {\n    title = \"AI Engineer\";\n  } else if (title.toLowerCase().includes(\"cyber\")) {\n    title = \"Cybersecurity Role\";\n  }\n\n  if (\n    title.toLowerCase().includes(\"drive\") ||\n    title.toLowerCase().includes(\"test\")\n  ) {\n    return;\n  }\n\n  text += `${count}️⃣ ${title}\\n`;\n  if (job.url.includes(\"linkedin\")) {\n      text += `🌐 Source: LinkedIn\\n`;\n    } else if (job.url.includes(\"indeed\")) {\n      text += `🌐 Source: Indeed\\n`;\n    } else if (job.url.includes(\"naukri\")) {\n      text += `🌐 Source: Naukri\\n`;\n    } else {\n      text += `🌐 Source: Official Portal\\n`;\n    }\n  text += `🔗Apply: ${job.url}\\n\\n`;\n  text += \"━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n\";\n\n\n  count++;\n});\n\ntext += \"🚀 Drives\\n\\n\";\ntext += \"━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n\";\n\n\njobs.forEach((job) => {\n  const title = job.title || \"\";\n\n  if (\n    (title.toLowerCase().includes(\"drive\") ||\n      title.toLowerCase().includes(\"test\")) &&\n    driveCount < 2\n  ) {\n    text += `📌 ${title}\\n`;\n    text += `🔗Apply: ${job.url}\\n\\n`;\n    text += \"━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n\";\n\n    driveCount++;\n  }\n});\n\nif (driveCount === 0) {\n  text += \"ℹ️ There are no drive or test updates in the next 30 days.\\n\\n\";\n}\n\ntext += \"✅ Fresh Job Application links\\n\";\ntext += \"CareerPulse-AI\\n\";\n\n\nreturn [{\n  json: {\n    message: text,\n    photo: randomImage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -80
      ],
      "id": "8b5758ff-6f9a-4735-837d-e297b7eb23e4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "query": "=latest fresher software developer, java developer, data analyst, AI engineer, cybersecurity jobs in India direct job pages official apply links from linkedin jobs view, indeed, naukri, foundit, wellfound, official careers only; exclude search pages and homepages; include recent individual posts plus hiring drives and tests within next 45 days with registration links",
        "options": {
          "max_results": 7,
          "include_images": true,
          "country": "india"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        48,
        -80
      ],
      "id": "dc78ccf9-70c6-47de-8a1c-e0eeced7420f",
      "name": "Search",
      "credentials": {
        "tavilyApi": {
          "id": "xsJqg6zKnaRdPAvk",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "835960145",
        "file": "={{$json.photo}}",
        "additionalFields": {
          "caption": "={{$json.message}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -96
      ],
      "id": "b26441b3-552a-46f0-b573-e61fe3f758d6",
      "name": "Send a photo message",
      "webhookId": "62d14f02-e039-4a3f-8066-c4c268fbf618",
      "credentials": {
        "telegramApi": {
          "id": "ZdLNKWjBC4t7hboj",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ca4c57da-535b-4da8-9d26-b8f4bc9e13a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45a20685f9c2331b5a3a1d5a7484a37006e58d9a9957b0f71d1d42c4e97e0f39"
  },
  "id": "PRYk2Vk9CERkf5U0",
  "tags": []
}